<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus dolore nulla ad eaque eum quis?</p>
    </div>
</section>