<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae praesentium aliquid, placeat odit ea quas?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias, labore. Harum autem impedit dignissimos, tempora maxime et maiores? Quia, deleniti?</p>
    <a href="https://github.com/jckballero" class="btn btn-primary">jckballero</a>
</div>